*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.imgHeader{
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.imgHeader img{
   width: 100%;
   height: 100%;
}

.flexBotones{
    display: flex;
    margin: 20px 0px 20px 50px;
    /*justify-content: space-around;*/
    gap: 10px;
}
 
.imgGrande{
    
}